################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/cg-2018/cg/p1/build/vs2017/.vs/p1/v15/Solution.VC.db-wal
